/*SegoeWPN*/
@font-face {
	font-family: 'SegoeWPN';
	src: url('../fonts/SegoeWPN/Segoe WP N.eot');
	src: local('☺'), 
        url('../fonts/SegoeWPN/Segoe WP N.woff') format('woff'),
        url('../fonts/SegoeWPN/Segoe WP N.ttf') format('truetype'), 
        url('../fonts/SegoeWPN/Segoe WP N.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*Bahnschrift*/
@font-face {
	font-family: 'Bahnschrift';
	src: url('../fonts/Bahnschrift/Bahnschrift.eot');
	src: local('☺'), url('../fonts/Bahnschrift/Bahnschrift.woff') format('woff'), 
        url('../fonts/Bahnschrift/Bahnschrift.ttf') format('truetype'), 
        url('../fonts/Bahnschrift/Bahnschrift.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


